.layout {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: inherit;
}
.content {
  position: relative;
  top: var(--navbar-height);
  left: var(--sidebar-width);
  width: calc(100% - 250px);
}
