.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  background-color: #282222;
  height: 100%;
  z-index: 2;
  color: #fff;
  padding: 0 8px;
}
.sidebar_logo {
  max-width: var(--sidebar-width);
  height: auto;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
