*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --navbar-height: 5rem;
  --sidebar-width: 25rem;
}

/* p,
span {
  font-size: 12px;
} */

.MuiTablePagination-root .MuiTablePagination-toolbar p {
  font-size: 12px;
}

#root {
  height: inherit;
}

.project-title {
  font-size: 32px;
  text-align: center;
  background: -webkit-linear-gradient(#fff, #352987);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f28f;
  z-index: 1000;
}
